#menu {
    background-color: #7b7e7c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }
  .Jugar{
    margin-left: 48%;
    margin-top: 20%;
  }
  .Niveles{
    margin-left: 47.5%;
    margin-top: 5%;
  }
  #menu:hover {
    background-color: rgb(255, 8, 255);
    transform: scale(1.5);
  }
body{
    background-color: black;
}